<div class="page-create-panel" xmlns:th="http://www.thymeleaf.org" th:fragment="page-create-form">
    <form method="post"
          action="/pages"
          class="edit-inline-form edit-row page-create-form">
        <div class="page-create-row page-create-main-row">
            <input type="text"
                   name="title"
                   placeholder="Новая страница"
                   required>

            <select name="pageType"
                    class="page-type-select"
                    required>
                <option value="HALF_STEP">Половинчатые галочки</option>
                <option value="BINARY">Обычные галочки</option>
                <option value="NUMBER">Числовые значения</option>
            </select>

            <select name="weekStartDay" required>
                <option value="MONDAY">Понедельник</option>
                <option value="TUESDAY">Вторник</option>
                <option value="WEDNESDAY">Среда</option>
                <option value="THURSDAY">Четверг</option>
                <option value="FRIDAY">Пятница</option>
                <option value="SATURDAY">Суббота</option>
                <option value="SUNDAY">Воскресенье</option>
            </select>

            <button type="submit">Создать страницу</button>
        </div>

        <div class="page-create-row page-create-settings-row">
            <span class="weekly-norm-field">
                <input type="number"
                       name="weeklyNorm"
                       min="0"
                       step="0.01"
                       placeholder="Недельная норма">
            </span>

                    <span class="stats-without-norm-setting">
                <label class="hand-checkbox">
                    <input type="checkbox"
                           name="showStatisticsWithoutNorm"
                           value="true">
                    <span class="hand-checkbox-mark"></span>
                    Показывать статистику
                </label>
            </span>

            <span class="norm-display-settings">
                <label class="hand-checkbox">
                    <input type="checkbox"
                           name="showWeekCompletedCheck"
                           value="true"
                           checked>
                    <span class="hand-checkbox-mark"></span>
                    Галочка недельной нормы
                </label>

                <label class="hand-checkbox">
                    <input type="checkbox"
                           name="showWeekPercentage"
                           value="true">
                    <span class="hand-checkbox-mark"></span>
                    Процент выполнения
                </label>
            </span>
        </div>
    </form>
</div>
